.greedy-nav {
  display: flex;
  align-items: center;

  .visible-links {
    display: flex;
    align-items: center;
    flex: 1;

    li {
      display: flex;
      align-items: center;
    }
  }

  #theme-toggle {
    margin-right: 2.5rem; // leaves room for the hamburger button
    flex-shrink: 0;
    order: 2;

    a {
      width: 25px;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }

  button {
    position: absolute;
    right: 0;
  }
}